 @import "tailwindcss";

:root {
  --foreground-rgb: 74, 74, 74;
  --background-start-rgb: 253, 242, 248;
  --background-end-rgb: 236, 254, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom selection color */
::selection {
  background-color: rgba(249, 168, 212, 0.3);
  color: #4a4a4a;
}
